@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    font-family: "Inter", sans-serif;
}

/* shared code  */
.primary-btn-2{
    color: #FFFFFF;
    background-color: #30B868;
    width: 251px;
    height: 52px;
    border-radius: 4px;
    padding: 12px 16px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.primary-btn{
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    border: none;
    font-weight: 600;
    color: white;
    cursor: pointer;
}


.container{
    max-width: 1600px;
}


/* nav Section */
nav{
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
nav ul{
    display: flex;
    gap: 31px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}
nav img{
    width: 139px;
    height: 60px;
}

/* Hero Section */
.hero{
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
}
.hero h6{
    width: 229px;
    height: 35px;
    padding: 8px 12px;
    border-radius: 1000px;
    background-color: #FFFFFF;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}
.moto-white{
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
}
.moto-green{
    font-size: 72px;
    font-weight: 700;
    color: #30B868;
}
.hero h5{
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
}


/* Note section */
.note{
    padding: 0px 120px;
    /* margin-bottom: 50px; */
    background-color: #F7F6F2;
    padding: 80px;
}
.note-section-title{
    text-align: center;
    /* margin-top: 50px; */
    margin-bottom: 30px;
}
.note-subtitle  {
    color: #627382;
}
.note-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.note-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
    padding: 24px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    width: 322px;
    height: 150px;
}
.note-card img{
    background: rgba(249, 85, 85, 1);
    border-radius: 40px;
    padding: 3px;
}
.note-card h4{
    font-size: 24px;
    font-weight: 600;
}
.note-card p{
    font-weight: 400;
    /* width: 274px; */
    color: #627382;
}

/* Konowledge Section */
.knowledge{
    padding: 80px;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.knowledge img{
    max-width: 500px;
    max-height: 500px;
    border-radius: 12px;
}
.knowledge-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.knowledge-subtitle{
    font-weight: 500;
    color: #30B868;
    font-size: 16px;
}
.knowledge-title{
    font-size: 48px;
    font-weight: bold;
}
.knowledge-des {
    color: #627382;
}
.des ul li{
list-style: none;
}

/* Early Access Section */
.early-access{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #F7F6F2;
    border-radius: 12px;
    padding: 80px 40px;
    width: 1030px;
    margin: 0 auto;
}
.early-access-title{
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
}
.early-access-subtitle{
    color: #627382;
}
.payment{
    display: flex;
    gap: 10px;
    color: #627382;
}


/* footer section  */
.footer{
    background-color: #001931;
    max-height: 300px;
}
.footer-element{
    /* height: 300px; */
    padding:30px 120px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    /* text-align: center; */
    margin-bottom: 60px;
}
.social-links{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.fa-x-twitter, .fa-linkedin-in, .fa-facebook {
    background-color: white;
    color: black;
    border-radius: 50%;
    padding: 2px;
    font-size: 16px;
}
.copyright{
    text-align: center;
    color: rgba(250, 250, 250, 1);
    padding: 30px;
}
.h-line{
    max-width: 1100px;
    margin: 0 auto;
    color: #FFFFFF;
}