@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    font-family: "Inter", sans-serif;
}
.font{
    font-family: "Inter", sans-serif;
}
.primary-btn-2{
    color: #FFFFFF;
    background-color: #30B868;
    width: 251px;
    height: 52px;
    border-radius: 4px;
    padding: 12px 16px;
    border: none;
    font-weight: 600;
}




/* nav Section */
nav{
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
nav ul{
    display: flex;
    gap: 31px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}
nav img{
    width: 139px;
    height: 60px;
}
nav button{
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    border: none;
    font-weight: 600;
    color: white;
}

/* Hero Section */
.hero{
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
}
.hero h6{
    width: 229px;
    height: 35px;
    padding: 8px 12px;
    border-radius: 1000px;
    background-color: #FFFFFF;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}
.moto-white{
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
}
.moto-green{
    font-size: 72px;
    font-weight: 700;
    color: #30B868;
}
.hero h5{
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
}
