*{
    margin: 0;
}
/* nav Section */
nav{
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
nav ul{
    display: flex;
    gap: 31px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}
nav img{
    width: 139px;
    height: 60px;
}
nav button{
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    border: none;
    font-weight: 600;
    color: white;
}